<div id="collectionadditionaltext" style="display:none;">additional info</div>
{% schema %}
  {
    "name": "Collection AdditionalText",
    "settings": [],
    "presets": [
    {
        "category": "header",
        "name":"Collection AdditionalText"
    }
 ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}