{% if collection.metafields.collectionmeta.additional_textbox %}
<div id="collectionadditionaltext" style="display:none;">
  <div class="twcss-max-w-lg twcss-mb-10 twcss-m-auto lg:twcss-max-w-[var(--page-width)] twcss-text-center lg:twcss-py-16">
    {{ collection.metafields.collectionmeta.additional_textbox }}
  </div>
</div>
{% endif %}
{% schema %}
  {
    "name": "Collection AdditionalText",
    "settings": [],
    "presets": [
    {
        "category": "header",
        "name":"Collection AdditionalText"
    }
 ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}