<div class="twcss-bg-[#ACC5C7] twcss-w-full twcss-min-h-[329px]">
    <div class="twcss-max-w-[var(--page-width)] twcss-m-auto twcss-flex twcss-flex-row twcss-justify-between twcss-px-8 twcss-py-10">
        <div class=" max-w-[25%]">
            <h4 class=" twcss-font-noto twcss-font-semibold twcss-text-text twcss-text-white"> Kontakt </h4>
            <p class=" twcss-font-noto twcss-font-light twcss-text-text twcss-text-white">
                Telefon: +49123456789 <br>
                E-Mail: info@loumana.de
            </p>
        </div>
        <div class=" max-w-[25%]">
            <h4 class=" twcss-font-noto twcss-font-semibold twcss-text-text twcss-text-white"> Entdecken </h4>
            <p class=" twcss-font-noto twcss-font-light twcss-text-text twcss-text-white">
                Produkte<br>
                Über Uns
            </p>
        </div>
        <div class=" max-w-[25%]">
            <h4 class=" twcss-font-noto twcss-font-semibold twcss-text-text twcss-text-white"> Allgemeines </h4>
            <p class=" twcss-font-noto twcss-font-light twcss-text-text twcss-text-white">
                Impressum<br>
                Datenschutz <br>
                Lieferung & Rücksendungen <br>
                Allgemeine Geschäftsbedignungen <br>
                Hilfe & FAQ
            </p>
        </div>
        <div class=" max-w-[25%]"></div>
    </div>
</div>



{% schema %}
{
   "name": "Loumana Footer",
  "settings": [
   {
    "type": "link_list",
    "id": "menuOne",
    "label": "Footer Menü #1"
   }
  ]
}
{% endschema %}