<div class="twcss-flex lg:twcss-flex-row twcss-flex-col lg:twcss-max-w-[var(--page-width)] twcss-mt-28 twcss-justify-between wcss-max-w-[36rem] twcss-mx-auto lg:twcss-mb-11 twcss-mb-24">
    <div class="lg:twcss-w-[50%] twcss-flex twcss-content-center twcss-justify-center lg:twcss-justify-start twcss-items-center twcss-order-2 lg:twcss-order-1 twcss-mt-10 lg:twcss-mt-0">
        <div>
            <h2 class="twcss-font-noto twcss-font-extrabold twcss-text-[34px] lg:twcss-max-w-3xl twcss-mb-[20px]">
                {{ section.settings.headline }}
            </h2>
            <p class=" twcss-text-text twcss-font-noto twcss-font-light lg:twcss-max-w-3xl lg:twcss-leading-8">
                {{ section.settings.textarea }}
            </p>
        </div>
    </div>
    <div class="lg:twcss-w-[50%] twcss-order-1 lg:twcss-order-2 twcss-mb-5">
        {% if product.tags contains 'shampoo' %}
        <video src="https://cdn.shopify.com/videos/c/o/v/84f13c74d8fa461d9b23040a10e1b4fb.mp4" class=" twcss-w-full twcss-h-full twcss-rounded-[20px]" controls playsinline></video>
        {% else %}
        <video src="https://cdn.shopify.com/videos/c/o/v/84f13c74d8fa461d9b23040a10e1b4fb.mp4" class=" twcss-w-full twcss-h-full twcss-rounded-[20px]" controls playsinline></video>
        {% endif %}
    </div>
</div>


{% schema %}
{
   "name": "Loumana PDP Video",
  "settings": [
    {
        "type": "text",
        "id": "headline",
        "label": "Überschrift",
        "default": "Lorem Ipsum"
    },
    {
        "type": "textarea",
        "id": "textarea",
        "label": "Fließtext neben dem Video",
        "default": "Lorem Ipsum"
    }
  ],
 "presets": [
    {
        "category": "video",
        "name":"Loumana PDP Video"
    }
 ]
}
{% endschema %}