<!-- <div class="lg:twcss-flex lg:twcss-max-w-[var(--page-width)] twcss-m-auto twcss-mt-24 twcss-relative twcss-max-w-lg">
    <div class="remove-muted twcss-absolute twcss-top-9 twcss-right-9">
        <img src="{{'stumm.png' | asset_url}}" alt=" Mute Icon" loading="lazy" width="30" height="30" onclick="toggleMute()" />
    </div>
</div> -->




<div class=" twcss-hidden lg:twcss-block">
    <video id="myVideo" autoplay loop muted playsinline src="https://cdn.shopify.com/videos/c/o/v/49f751c09f514ebc9fc0c3b0d4d3e3f7.mp4" class="twcss-w-full twcss-h-full"></video>
</div>

<div class="twcss-block lg:twcss-hidden">
    <video id="myVideo" autoplay loop muted playsinline src="https://cdn.shopify.com/videos/c/o/v/72661547aaf24b5f99d74f91793f196d.mp4" class="twcss-w-full twcss-h-full"></video>
</div>

<script>
    function toggleMute(){
        var video = document.getElementById('myVideo');
        video.muted = !video.muted
    }
</script>



{% schema %}
{
   "name": "Loumana Video",
   "tag": "section",
   "settings": [
   ],
  "presets": [
    {
        "name": "Loumana Video"
    }
  ]
}
{% endschema %}