<div class="twcss-pt-20">
<div class="twcss-max-w-lg lg:twcss-max-w-[var(--page-width)] twcss-m-auto">

    <div class="tab">
        <button class="tablinks twcss-font-noto twcss-font-extrabold" onclick="openCity(event, 'London')">Unsere Produkte </button>
        <button class="tablinks twcss-font-noto twcss-font-extrabold" onclick="openCity(event, 'Paris')">Über Loumana </button>
        <button class="tablinks twcss-font-noto twcss-font-extrabold" onclick="openCity(event, 'Tokyo')">Bestellung & Versand </button>
    </div>

    <div class="tabcontent" id="London">

        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Wo werden die Produkte hergestellt?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>Unsere Produkte werden ausschließlich in Deutschland produziert.</p>
        </div>

        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Enthalten eure Produkte Silikone?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>100 % unserer Produkte kommen ohne Silikone aus. Die genauen Inhaltsstoffe findest du auf der Produktrückseite sowie auf unserer Webseite in den jeweiligen Produktbeschreibungen.</p>
        </div>

        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Enthalten eure Produkte Parabene?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>Unsere Produkte sind frei von Parabenen. Die genauen Inhaltsstoffe findest du auf der Produktrückseite sowie auf unserer Webseite in den jeweiligen Produktbeschreibungen.</p>
        </div>
    </div>

    <div class="tabcontent" id="Paris">
        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Wie unterstützt ihr die Anpflanzung von Bäumen?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>Mit jedem verkauften Produkt wollen wir einen Anteil in die Anpflanzung von Bäumen investieren. Über die genaue Anzahl gepflanzter Bäume wird ein jährlicher Bericht veröffentlicht.</p>
        </div>

        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Warum ist Loumana nicht auf der PETA-Liste zu finden?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>Du kannst dir sicher sein, dass wir unsere Produkte und Inhaltsstoffe nicht an Tieren testen. Da seit dem 11. März 2013 Tierversuche in der Kosmetik in ganz Europa verboten sind, verzichten wir auf ein spezielles Zertifikat oder eine Auflistung bei PETA.</p>
        </div>
    </div>

    <div class="tabcontent" id="Tokyo">
        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Wie sende ich etwas zurück?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>Solltest du nicht zufrieden mit deinem Produkt sein, senden wir dir einen QR-Code zum Rückversand zu. </p>
        </div>

        <button class="accordion twcss-font-noto twcss-font-light lg:twcss-text-text">Wie lange dauert der Versand?</button>
        <div class="panel twcss-font-noto twcss-font-light lg:twcss-text-text">
            <p>Die durchschnittliche Versanddauer (DE) beträgt 2-3 Werktage.</p>
        </div>
    </div>
</div>
</div>
<style>
    * {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  width: 30%;
  height: 300px;
}

.tablinks:after{
  content: ''!important;
}

.accordion {
    cursor: pointer;
    padding: 10px 0;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-bottom: 1px solid #ACC5C7;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

    /* Style the accordion panel. Note: hidden by default */

    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\02795";
        transition: transform 0.2s ease-in;
        transform: rotate(45deg); /* Unicode character for "minus" sign (-) */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
}


/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;

  width: 70%;
  border-left: none;
  height: auto;
}

@media screen and (max-width:749px) {
    .tab {
        width: 100%;
        height: auto;
    }

    .tabcontent {
        width: 100%;
        margin-bottom: 60px;
    }
}
</style>

<script>
    function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
}
openCity(event, 'London')
</script>


{% schema %}
{
   "name": "FAQ Accordeon",
  "settings": [
    
  ],
 "presets": [
    {
        "name":" FAQ Accordeon"
    }
 ]
}
{% endschema %}