<div class="lg:twcss-flex lg:twcss-max-w-[var(--page-width)] twcss-m-auto twcss-mt-24 twcss-relative twcss-max-w-lg">
    <video id="myVideo" autoplay loop muted playsinline src="https://cdn.shopify.com/videos/c/o/v/84f13c74d8fa461d9b23040a10e1b4fb.mp4" class="twcss-rounded-3xl "></video>
    <div class="remove-muted twcss-absolute twcss-top-9 twcss-right-9">
        <img src="{{'stumm.png' | asset_url}}" alt=" Mute Icon" loading="lazy" width="30" height="30" onclick="toggleMute()" />
    </div>
</div>

<script>
    function toggleMute(){
        var video = document.getElementById('myVideo');
        video.muted = !video.muted
    }
</script>



{% schema %}
{
   "name": "Loumana Video",
   "tag": "section",
   "settings": [
   ],
  "presets": [
    {
        "name": "Loumana Video"
    }
  ]
}
{% endschema %}