<div class="lg:twcss-max-w-[var(--page-width)] twcss-max-w-lg twcss-relative favoritecontainer">
  <h1 class="twcss-font-extrabold twcss-font-noto twcss-text-[34px]">Das sind Pascal’s <br>
            Loumana-Favourites:
        </h1>
  <div class="containerOverflow">
  <div class="stickyContent">
    <div class="leftSide">
      <div>
        <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
          Festes Shampoo: Pampelmousse
        </h2>
        <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
          With Grapefruit comes great responsibility.
          Deswegen bin ich gut für deine Kopfhaut, dein Haar UND die Umwelt! Alles an mir ist plastik-, silikon- und parabenfrei.
        </p>
        <a class="mainButton">
          Mehr dazu
        </a>
      </div>
    </div>
    <div class="rightSide">
        <img srcc="https://cdn.shopify.com/s/files/1/0652/8296/5728/files/Group_13.png?v=1659527665" width="auto" height="auto" class="dekoImg" />
        <img src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Gelb_2.jpg?v=1659430354" width="auto" height="auto" class="snapImg" />
    </div>
  </div>
    <div class="stickyContent">
    <div class="leftSide">
      <div>
        <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
          Fester Conditioner: Wid Rose
        </h2>
        <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
          Rosen sind rot, Veilchen sind blau,
          ich schütze dein Haar, das weiß ich genau.
          Mein Rosenduft macht dein Haarpflegeprogramm zu einem intensiven Erlebnis!    
        </p>
        <a class="mainButton">
          Mehr dazu
        </a>
      </div>
    </div>
    <div class="rightSide">
        <img src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Conditioner_2.jpg?v=1659430750" width="auto" height="auto" class="snapImg" />
    </div>
  </div>
    <div class="stickyContent">
    <div class="leftSide">
      <div>
        <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
          Badekugel: Energy
        </h2>
        <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
          Sauer macht nicht nur lustig, sondern auch wach! Mit meinem belebenden Charakter bin ich genau richtig, um deinem 
          müden Körper den richtigen Kick zu geben
        </p>
        <a class="mainButton">
          Mehr dazu
        </a>
      </div>
    </div>
    <div class="rightSide">
        <img src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Loumana_Fotocontent_1_u5mb_V2-6.jpg?v=1659427697" width="auto" height="auto" class="snapImg" />
    </div>
  </div>
  
</div>
</div>

<style>
.containerOverflow{
  overflow:scroll;
  height:40vh;
  scroll-snap-points-y: repeat(40vh);
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
}
.favoritecontainer{
    margin: 10rem auto;
}

.stickyContent{
  height: 40vh;
  display: flex;
  flex-direction: row;
  scroll-snap-align: start;

 }

.leftSide{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 10rem;
  padding-bottom: 5rem;
}

  .snapImg{
    border-radius:20px;
  }
  

</style>



{% schema %}
{
   "name": "Loumana Favorites",
   "settings": [
       {
        "type": "text",
        "id": "textOne",
        "label": "Text #1"
       }
   ],
  "presets": [
    {
        "category": "text",
        "name":"Loumana Favorites"
    }
  ]
}
{% endschema %}