<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>

<div class="content-container">
    <div class="left-content">
      <img id="img1" class="imageToShow" src="https://placekitten.com/1300/700?image=1" alt="kitty">

      <img id="img3" class="imageToShow" src="https://placekitten.com/1300/700?image=3" alt="kitty">
    </div>
    
    <div class="right-content">
      <p class="contentMarker" data-marker-content="img1"><b>Festes Shampoo: Pampelmousse</b></p>
      
      <p>With Grapefruit comes great responsibility. Deswegen bin ich gut für deine Kopfhaut, dein Haar UND die Umwelt! Alles an mir ist plastik-, silikon- und parabenfrei. </p>
      
      
      <p class="contentMarker" data-marker-content="img2">Fester Conditioner: Wild Rose</p>
      
      <p>Rosen sind rot, Veilchen sind blau,
          ich schütze dein Haar, das weiß ich genau.
          Mein Rosenduft macht dein Haarpflegeprogramm zu einem intensiven Erlebnis! </p>
      

      
      <p class="contentMarker" data-marker-content="img3">Badekugel: Energy</p>
      
      <p>Sauer macht nicht nur lustig, sondern auch wach! Mit meinem belebenden Charakter bin ich genau richtig, um deinem müden Körper die Energie zu geben die er braucht.</p>
    </div>
  </div>
  
<style>
.content-container {
  display: flex;
}

.contentMarker{
    height: 100vh;
}
.content-container > * {
  width: 50%;
}

.right-content {
  padding-right: 15px;
}

.left-content {
  height: 100vh;
  position: relative;
}

.left-content > * {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .left-content {
    display: none;
  }
  .right-content {
    padding-left: 15px;
  }
}

</style>

<script>


gsap.defaults({overwrite: 'auto'});

gsap.set(".left-content > *", {xPercent: -50, yPercent: -50});

// Set up our scroll trigger
const ST = ScrollTrigger.create({
  trigger: ".content-container",
  start: "top top",
  end: "bottom bottom",
  onUpdate: getCurrentSection,
  pin: ".left-content"
});

const contentMarkers = gsap.utils.toArray(".contentMarker");

// Set up our content behaviors
contentMarkers.forEach(marker => {
  marker.content = document.querySelector(`#${marker.dataset.markerContent}`);
  
  if(marker.content.tagName === "IMG") {
    gsap.set(marker.content, {transformOrigin: "center"});
    
    marker.content.enter = function() {
      gsap.fromTo(marker.content, {autoAlpha: 0, rotateY: -30}, {duration: 0.3, autoAlpha: 1, rotateY: 0});
    }
  } else if(marker.content.tagName === "BLOCKQUOTE") {
    gsap.set(marker.content, {transformOrigin: "left center"});
    
    marker.content.enter = function() {
      gsap.fromTo(marker.content, {autoAlpha: 0, rotateY: 50}, {duration: 0.3, autoAlpha: 1, rotateY: 0});
    }
  }
  
  marker.content.leave = function() {
    gsap.to(marker.content, {duration: 0.1, autoAlpha: 0});
  }
  
});

// Handle the updated position
let lastContent;
function getCurrentSection() {
  let newContent;
  const currScroll = scrollY;
  
  // Find the current section
  contentMarkers.forEach(marker => {
    if(currScroll > marker.offsetTop) {
      newContent = marker.content;
    }
  });
  
  // If the current section is different than that last, animate in
  if(newContent
  && (lastContent == null 
     || !newContent.isSameNode(lastContent))) {
    // Fade out last section
    if(lastContent) {
      lastContent.leave();
    }
    
    // Animate in new section
    newContent.enter();
    
    lastContent = newContent;
  }
  
}

const media = window.matchMedia("screen and (max-width: 600px)");
ScrollTrigger.addEventListener("refreshInit", checkSTState);
checkSTState();

function checkSTState() {
  if(media.matches) {
    ST.disable();
  } else {
    ST.enable();
  }
}
</script>

{% schema %}
{
   "name": "Loumana Favorites",
   "settings": [
       {
        "type": "text",
        "id": "textOne",
        "label": "Text #1"
       }
   ],
  "presets": [
    {
        "category": "text",
        "name":"Loumana Favorites"
    }
  ]
}
{% endschema %}