<div class="lg:twcss-max-w-[var(--page-width)] twcss-max-w-lg twcss-relative favoritecontainer">
  <h1 class="twcss-font-extrabold twcss-font-noto twcss-text-[34px] twcss-mb-10 lg:twcss-mb-0">Das sind unsere <br>
    Loumana-Favourites:
  </h1>
  <div class="containerOverflow-no">

    {% for block in section.blocks %}
      <div class="stickyContent">
        <div class="leftSide">
          <div>
            {% if block.settings.heading != "" %}
              <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
                {{ block.settings.heading }}
              </h2>
            {% endif %}
            <div class="twcss-font-light twcss-font-noto twcss-text-[16px]">
              {{ block.settings.textOne }}
            </div>
            {% if block.settings.buttonurl != "" %}
              <a class="mainButton" href="{{ block.settings.buttonurl }}">
                Mehr dazu
              </a>
            {% endif %}
          </div>
        </div>
        <div class="rightSide">
          <img
            src="https://cdn.shopify.com/s/files/1/0652/8296/5728/files/Group_13.png?v=1659527665"
            width="auto"
            height="auto"
            class="dekoImg" />
          {% if block.settings.iconOne != "" %}
            <img
              src="{{ block.settings.iconOne | img_url: 'master' }}"
              width="auto"
              height="auto"
              class="snapImg" />
          {% endif %}
        </div>
      </div>
    {% endfor %}

    {% comment %}
      <div class="stickyContent">
      <div class="leftSide">
      <div>
      <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
      Festes Shampoo: Pampelmousse
      </h2>
      <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
      With Grapefruit comes great responsibility.
      Deswegen bin ich gut für deine Kopfhaut, dein Haar UND die Umwelt! Alles an mir ist plastik-, silikon- und parabenfrei.
      </p>
      <a class="mainButton" href="/products/festes-shampoo-pampelmousse">
      Mehr dazu
      </a>
      </div>
      </div>
      <div class="rightSide">
      <img
      src="https://cdn.shopify.com/s/files/1/0652/8296/5728/files/Group_13.png?v=1659527665"
      width="auto"
      height="auto"
      class="dekoImg" />
      <img
      src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Gelb_2.jpg?v=1659430354"
      width="auto"
      height="auto"
      class="snapImg" />
      </div>
      </div>
      <div class="stickyContent">
      <div class="leftSide">
      <div>
      <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
      Fester Conditioner: Wild Rose
      </h2>
      <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
      Rosen sind rot, Veilchen sind blau,
      ich schütze dein Haar, das weiß ich genau.
      Mein Rosenduft macht dein Haarpflegeprogramm zu einem intensiven Erlebnis!
      </p>
      <a class="mainButton" href="/products/fester-conditioner-wild-rose">
      Mehr dazu
      </a>
      </div>
      </div>
      <div class="rightSide">
      <img
      src="https://cdn.shopify.com/s/files/1/0652/8296/5728/files/Group_13.png?v=1659527665"
      width="auto"
      height="auto"
      class="dekoImg" />
      <img
      src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Conditioner_2.jpg?v=1659430750"
      width="auto"
      height="auto"
      class="snapImg" />
      </div>
      </div>
      <div class="stickyContent">
      <div class="leftSide">
      <div>
      <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
      Badekugel: Energy
      </h2>
      <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
      Sauer macht nicht nur lustig, sondern auch wach! Mit meinem belebenden Charakter bin ich genau richtig, um deinem 
      müden Körper den richtigen Kick zu geben
      </p>
      <a class="mainButton" href="/products/loumana-energy">
      Mehr dazu
      </a>
      </div>
      </div>
      <div class="rightSide">
      <img
      src="https://cdn.shopify.com/s/files/1/0652/8296/5728/files/Group_13.png?v=1659527665"
      width="auto"
      height="auto"
      class="dekoImg" />
      <img
      src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Loumana_Fotocontent_1_u5mb_V2-6.jpg?v=1659427697"
      width="auto"
      height="auto"
      class="snapImg" />
      </div>
      </div>
    {% endcomment %}

  </div>
</div>

<style>
  ::-webkit-scrollbar {
    display: none;
  }
  .containerOverflow {
    overflow: scroll;
    height: 60vh;
    scrollbar-width: none;
    scroll-snap-points-y: repeat(60vh);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
  }
  .favoritecontainer {
    margin: 10rem auto;
  }

  .stickyContent {
    height: 60vh;
    display: flex;
    flex-direction: row;
    scroll-snap-align: start;

  }

  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10rem;
    padding-bottom: 5rem;
  }

  .rightSide {
    position: relative;
    padding: 50px 20px;
  }
  .dekoImg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: -60px;
  }
  .snapImg {
    border-radius: 20px;
    z-index: 2;
  }


  @media screen and (max-width: 749px) {
    .stickyContent {
      flex-direction: column;
    }
    .leftSide {
      padding: 0;
      order: 2;
    }
    .rightSide {
      padding: 20px 0;
    }
    .favoritecontainer {
      margin: 3rem auto;
    }

    .containerOverflow {
      height: 60vh;
    }
    .stickyContent {
      height: 60vh;
    }
  }
</style>


{% schema %}
  {
    "name": "Loumana Favorites",
    "settings": [
      {
        "type": "html",
        "id": "titlebox",
        "label": "Section text"
      }
    ],
    "blocks": [

      {
        "name": "Favorites",
        "type": "text",
        "settings": [
          {
            "type": "image_picker",
            "id": "iconOne",
            "label": "Icon"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "url",
            "id": "buttonurl",
            "label": "Button link"
          }, {
            "type": "html",
            "id": "textOne",
            "label": "Text",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pretium, cum egestas"
          }
        ]

      }
    ],
    "presets": [
      {
        "category": "text",
        "name": "Loumana Favorites"
      }
    ]
  }
{% endschema %}