<div class="containerOverflow lg:twcss-max-w-[var(--page-width)] twcss-m-auto twcss-max-w-lg twcss-relative">
  <h1 class="twcss-font-extrabold twcss-font-noto twcss-text-[34px]">Das ist Pascal’s 
            Loumana-Favourite:
        </h1>
  <div class="stickyContent">
    <div class="leftSide">
      <div>
        <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
          Festes Shampoo: Pampelmousse
        </h2>
        <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
          With Grapefruit comes great responsibility.
          Deswegen bin ich gut für deine Kopfhaut, dein Haar UND die Umwelt! Alles an mir ist plastik-, silikon- und parabenfrei.
        </p>
        <a class="mainButton">
          Mehr dazu
        </a>
      </div>
    </div>
    <div class="rightSide">
        <img src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Gelb_2.jpg?v=1659430354" width="auto" height="auto" />
    </div>
  </div>
    <div class="stickyContent">
    <div class="leftSide">
      <div>
        <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
          Festes Shampoo: Pampelmousse
        </h2>
        <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
          With Grapefruit comes great responsibility.
          Deswegen bin ich gut für deine Kopfhaut, dein Haar UND die Umwelt! Alles an mir ist plastik-, silikon- und parabenfrei.
        </p>
        <a class="mainButton">
          Mehr dazu
        </a>
      </div>
    </div>
    <div class="rightSide">
        <img src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Gelb_2.jpg?v=1659430354" width="auto" height="auto" />
    </div>
  </div>
    <div class="stickyContent">
    <div class="leftSide">
      <div>
        <h2 class="twcss-font-extrabold twcss-font-noto twcss-text-[20px]">
          Festes Shampoo: Pampelmousse
        </h2>
        <p class="twcss-font-light twcss-font-noto twcss-text-[16px]">
          With Grapefruit comes great responsibility.
          Deswegen bin ich gut für deine Kopfhaut, dein Haar UND die Umwelt! Alles an mir ist plastik-, silikon- und parabenfrei.
        </p>
        <a class="mainButton">
          Mehr dazu
        </a>
      </div>
    </div>
    <div class="rightSide">
        <img src="https://cdn.shopify.com/s/files/1/0652/8296/5728/products/Gelb_2.jpg?v=1659430354" width="auto" height="auto" />
    </div>
  </div>
  
</div>

<style>
.containerOverflow{
  overflow:scroll;
  height:40vh;
}

  .stickyContent{
    height: 40vh;
    margin: 20rem 0;
    display: flex;
    flex-direction: row;
    
  }
  

</style>



{% schema %}
{
   "name": "Loumana Favorites",
   "settings": [
       {
        "type": "text",
        "id": "textOne",
        "label": "Text #1"
       }
   ],
  "presets": [
    {
        "category": "text",
        "name":"Loumana Favorites"
    }
  ]
}
{% endschema %}