@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mainButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    width: auto;
    height: 35px;
    border: 1px solid #acc5c7;
    border-radius: 30px;
    box-sizing: border-box;
    justify-content: center;
    margin: 30px 0;
    font-size: 14px;
    line-height: 19px;
    max-width: 198px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .mainButton:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    width: auto;
    height: 35px;
    background: #acc5c7;
    border: 1px solid #acc5c7;
    border-radius: 30px;
    font-size: 14px;
    line-height: 19px;
    max-width: 198px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .mainButtonInverted {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    width: auto;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 30px;
    box-sizing: border-box;
    justify-content: center;
    margin: 30px 0;
    font-size: 14px;
    line-height: 19px;
    max-width: 198px;
    color: #fff;
  }

  .mainButtonInverted:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    width: auto;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 14px;
    line-height: 19px;
    max-width: 198px;
    color: #acc5c7;
  }

  .mainButtonCollection:hover {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: auto;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 14px;
    line-height: 19px;
    max-width: 198px;
    color: #acc5c7;
    font-family: 'Inconsolata';
  }


  .mainButtonCollection{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px;
    gap: 10px;
    width: auto;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 30px;
    box-sizing: border-box;
    justify-content: center;
    margin: 30px 0;
    font-size: 14px;
    line-height: 19px;
    max-width: 198px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Inconsolata';
  }
  
  .elipse {
    width: 64px;
    height: 64px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 100px;
    margin: 0 15px;
  }
  .border-counter:nth-child(3n + 2) {
    border-left: 0 !important;
    border-right: 0 !important;
  }
}


.hideCollection{display:none!important}

#cartProgressBar{
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

progress::-webkit-progress-bar {background-color: rgba(255,255,255,0.5); width: 100%; border-radius: 13px;}
progress {background-color: rgba(255,255,255,0.5);}

/* value: */
progress::-webkit-progress-value {background-color: #ACC5C7 !important;border-radius: 13px;}
progress::-moz-progress-bar {background-color: #ACC5C7 !important;border-radius: 13px;}
progress {color: #ACC5C7;}